.categories-cards {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.showcase {
    margin-top: 2rem;

    ul {
        display: flex;
        justify-content: space-between;

    }
}