{% comment %}
<img src="{{ 'cat.png' | asset_url }}" alt="" />  
{% endcomment %}

<section>
  <main>
    <h2>{{ collections['frontpage'].title }}</h2>

    <div>
      {% for product in collections['frontpage'].products %}
        {% render 'product-item', product: product %}
      {% endfor %}
    </div>
  </main>
</section>