<div class="home-page">
  {% section 'main-banner' %}
  <div class="content container">
    <section>
      {% section 'categories' %}
    </section>
    <section>
      {% section 'showcase-1' %}
    </section>
  </div>
</div>