<h1>{{ page.title }}</h1>
<div>
  {{ page.content }}
</div>


{% form 'contact' %}
  {{ form.errors | default_erros }}

  <div class="email">
    <label for="email">Email</label>
    <input type="email" name="contact[email]" />
  </div>
  <div class="teste">
    <label for="teste">Teste</label>
    <input type="teste" name="contact[teste]" />
  </div>

  <div class="message">
    <label for="messages">messages</label>
    <textarea
      name="contact[body]"

      cols="30"
      rows="10"></textarea>
  </div>

  <div class="submit">
    <input type="submit" value="Create" />
  </div>

{% endform %}